APP_ENV=Local
PORT=8081

DB_HOST=localhost
DB_USER=postgres
DB_PASS=
DB_PORT=5432
DB_NAME=postgres

JWT_SECRET=

PRODUCT_GRPC_HOST=
INVENTORY_GRPC_HOST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=