APP_ENV=Local
PORT=8081

DB_HOST=localhost
DB_USER=postgres
DB_PASS=
DB_PORT=5432
DB_NAME=postgres

PRODUCT_BROKER_HOST=
PRODUCT_TOPIC=
PRODUCT_GROUP_ID=product-group

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=